### Maven ###
**/target/
.idea/

### Intellij ###
*.iml

### Secrets ###
**/keycloak.user.properties
**/keycloak-user.properties
src/main/resources/keycloak-user.properties
**/keycloak.user.yml
**/keycloak-user.yml

### Java spills ###
*.class
*.jar
*.war
*.ear

### Specific ###
**/data/
